<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475304278747-74cg9g3q6tf8rtao6m6isnmplik8v239.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475304278747-74cg9g3q6tf8rtao6m6isnmplik8v239</string>
	<key>API_KEY</key>
	<string>AIzaSyAIYpyyqN0GJWeYH8ayOqpVXAyawERj2nY</string>
	<key>GCM_SENDER_ID</key>
	<string>475304278747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hsoren.movieTracker</string>
	<key>PROJECT_ID</key>
	<string>movietracker-3fb93</string>
	<key>STORAGE_BUCKET</key>
	<string>movietracker-3fb93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475304278747:ios:e5d482dc27f508647ceafe</string>
</dict>
</plist>